<div class="jumbo">
  <h2>Create a new user</h2>
</div>

<form>
  First Name: <br>
  {{input type="text" name="firstname" value=firstname}}<br>
  Last Name: <br>
  {{input type="text" name="lastname" value=lastname}}<br>
  Gender: <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  Email: <br>
  {{input type="email" name="email" value=email}}<br>
  Mobile: <br>
  {{input type="tel" name="mobile" value=mobile}}<br>
  Position: <br>
  {{input type="text" name="position" value=position}}<br>
  Staff ID: <br>
  {{input type="text" name="id" value=id}}<br>
  Role: <br>
  <input type="radio" name="role" value="admin" checked> Admin<br>
  <input type="radio" name="role" value="staff"> Staff<br>
  <input type="radio" name="role" value="user"> Student<br>
  Username: <br>
  {{input type="text" name="username" value=username}}<br>
  Password: <br>
  {{input type="password" name="password" value=password}}<br>
  Confirm Password: <br>
  {{input type="password" name="confirmPassword" value=confirmPassword}}<br><br>
  <div class="pull-left">
    <input class="btn btn-primary" type="submit" {{action "saveUser"}} value="Save">
    <input class="btn btn-danger" type="submit" {{action "cancel"}} value="Cancel">
  </div>
</form>